:root {
  --font: #fafafa;
}
.container {
  margin: 25vh 25vw;
}
.scene {
  width: 50vw;
  height: 400px;
  margin: 0 auto;
  perspective: 2000px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s;
}

.cube-face {
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cube-face-front {
  background: linear-gradient(to bottom, rgb(107, 243, 223), rgb(16, 1, 114));
  color: var(--font);
  transform: rotateY(0deg) translateZ(200px);
}
.cube.show-front {
  transform: translateZ(-200px) rotateY(0deg);
}
.cube-face-right {
  background: linear-gradient(
    to bottom right,
    rgb(107, 243, 223),
    rgb(16, 1, 114)
  );
  transform: rotatey(90deg) translatez(200px);
}

.cube-face-top {
  background: linear-gradient(to top, rgb(107, 243, 223), rgb(16, 1, 114));
  color: var(--font);
  transform: rotateX(90deg) translateZ(200px);
}
.cube.show-top {
  transform: translateZ(-200px) rotateX(-90deg);
}

.form {
  background: none;
  border: none;
  border-bottom: 1px solid #fafafa;
  display: block;
  height: 1.25rem;
  width: 75%;
  margin: 0.5rem;
}
.form:active,
.form:focus {
  outline: none;
}
.label {
  justify-self: flex-start;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 0.15rem;
  background: rgb(141, 255, 238);
  color: #333;
  font-family: sans-serif;
  font-weight: bold;
  margin: 5px;
  height: 25px;
  width: 75px;
  transition: background 0.1s;
}
.button:hover {
  cursor: pointer;
  background: rgb(193, 255, 246);
}
